/* Header.css */
.header {
    position: sticky;
    top: 0; /* Sticks the header at the top */
    z-index: 1000; /* Ensure it's on top of other content */
    background-color: #07074f;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  
  /* Footer.css */
.footer {
    background-color: #07074f;
    color: white;
    padding: 20px 0;
     text-align: center;
    font-size: 14px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 20px;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .footer-legal {
    margin-top: 10px;
    font-size: 12px;
  }
  
  .footer-legal a {
    color: white;
    margin-left: 5px;
    text-decoration: none;
  }
  
  .footer-legal a:hover {
    text-decoration: underline;
  }
  
  .social-links {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    margin-left: 20px;
  }
  
  .social-links a {
    color: white;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }

  
 
    